
name: "HCL AppScan SAST"

permissions:
  statuses: write
  contents: read

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run AppScan SAST scan
        id: appscan
        uses: HCL-TECH-SOFTWARE/appscan-sast-action@v1.0.7
        with:
          asoc_key: ${{ github.event_name == 'pull_request' && secrets.ASOC_PR_KEY || secrets.ASOC_KEY }}
          asoc_secret: ${{ github.event_name == 'pull_request' && secrets.ASOC_PR_SECRET || secrets.ASOC_SECRET }}
          application_id: ${{ github.event_name == 'pull_request' && secrets.ASOC_PR_APP_ID || secrets.APP_ID }}
          static_analysis_only: true
          wait_for_analysis: true
          fail_for_noncompliance: true
          failure_threshold: High

      - name: Fail PR if High/Critical vulnerabilities found
        if: github.event_name == 'pull_request' && (steps.appscan.outputs.high != '0' || steps.appscan.outputs.critical != '0')
        run: |
          echo "${{ steps.appscan.outputs.critical }} critical and ${{ steps.appscan.outputs.high }} high vulnerabilities found, remediate them to allow PR merge."
          exit 1
